.divider {
  width: 100%;
  line-height: 0;
  overflow: hidden;
  margin: -1px 0;
  position: relative;
  z-index: 2;
}

.canvas {
  display: block;
  width: 100%;
  height: 140px;
}

.flip .canvas {
  transform: rotate(180deg);
}

@media (min-width: 768px) {
  .canvas {
    height: 160px;
  }
}
